<style>

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

 
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 300px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial; 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p
{
 color:black;
 font-size:20px;
 text-align:center;
 }

sidebar
{
 width:200px;
 hight:600;
 float:right;
 font-size:15px;
 }
.container{
     max-width:1200px;
	 margin:auto;
	 background:#f2f2f2;
	 overflow:auto;
	 }
.gallery{
     margin:5px;
	 border:1px solid #ccc;
	 float:left;
	 width:315px;
	 }
.galler img{
     width:315;
	 height:250px;
	 }
.disc{
     padding:15px;
	 text-align:center;
	 }
footer
{
margin-top:180px;
text-align:center;
background-color:#333;
}